<ion-view class="has-subheader">
	<ion-nav-title>Code Delivery - Login</ion-nav-title>
	<ion-content class="padding">
	<form ng-submit="login()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Digite seu nome de usuário" ng-model='user.username'>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Digite sua senha" ng-model='user.password'>
          </label>
            <button class="button button-full button-positive">Login</button>
        </div>
    </form>
    </ion-content>
</ion-view>